[user]
	email = me@luizbranco.com
	name = Luiz Branco

[core]
  editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input

[color]
	ui = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[push]
  #Only Push Upstream for the Current Branch
  default = upstream

[log]
    date = relative
[format]
    pretty = format:%h\t%Cblue%ad%Creset\t%an\t%Cgreen%s%Creset

[alias]
  ci = commit
  co = checkout
  di = diff
  dc = diff --cached
  amend = commit --amend
  aa = add --all
  l = "!. ~/.githelpers && pretty_git_log"
  r = !git l -30
  ra = !git r --all
  rmu = clean -f -d

[merge]
  tool = vimdiff

[github]
	user = luizbranco

[ghi]
	token = e16f5082b8db203f8cd3620c76413ff3f3a45e90
[gh]
	autoUpdate = always
